---

- name: config storage pools
  include_tasks: config_pools.yml
  with_items:
  - "{{ libvirt.pools }}"
  loop_control:
    loop_var: pool
  when:
  - libvirt.pools is defined

- name: config storage networks
  include_tasks: config_networks.yml
  with_items:
  - "{{ libvirt.networks }}"
  loop_control:
    loop_var: network
  when:
  - libvirt.networks is defined
